
<div class="row">
  <div class="col-sm-4">

  </div>
  <div class="col-sm-4">
<h2>Iniciar sesión</h2>
    <div class="card">
      <div class="card-body">
        <form action="/auth/login" method="POST" id="form-container">
          <label for="username">Username</label>
          <input id="username" type="text" name="username" placeholder="Nombre">

          <br><br>

          <label for="password">Password</label>
          <input id="password" type="password" name="password" placeholder="Contraseña">
          <br>
          {{#if message }}
          <div class="error-message">{{ message }}</div>
          {{/if}}

          <br><br>

          <button class="btn btn-primary">Login</button>

          <p class="account-message">
            Don't have an account yet?
            <a href="/auth/signup">Signup</a>
          </p>
        </form>

      </div>
    </div>
  </div>
</div>