<!DOCTYPE html>
<html>


<head>
  <title>Simple Map</title>
  <meta name="viewport" content="initial-scale=1.0">
  <meta charset="utf-8">
  <style>
    #map {
      height: 100%;
      width: 70%
    }

    html,
    body {
      height: 100%;
      margin: 0;
      padding: 0;
    }
  </style>
</head>

<body>
  <div id="map"></div>
  {{!-- <div id="directionsPanel" style="position:fixed;right:0;float:right;width:30%;height 100%"></div> --}}
  {{!-- DIRECTIONS FORM --}}
  <form action="/welcome/map" method="POST" id="form-directions" >
          <label for="start">Origen</label>
          <input id="start" type="text" name="start" value="13, calle alcala" onchange="calcRoute(directionsService, directionsRenderer)">
          <br><br>
          <label for="end">Destino</label>
          <input id="end" type="text" name="end" value="30, calle goya" onchange="calcRoute(directionsService, directionsRenderer)">
          <br>
          {{#if message }}
          <div class="error-message">{{ message }}</div>
          {{/if}}

          <button id="searchButton"class="btn btn-primary">Dibuja ruta</button>

        </form>
  {{!-- DIRECTIONS FORM --}}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js"
    integrity="sha256-S1J4GVHHDMiirir9qsXWc8ZWw74PHHafpsHp5PXtjTs=" crossorigin="anonymous"></script>
  <script src="../javascripts/map.js">
  </script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBrPNbJOlFtyYOkm722n_jbRGtSxOsE_q8
&callback=initMap" async defer></script>

  {{!-- Hasta aqui el mapa default --}}



</body>

</html>